ifdef(`__feed',
`<item> ifdef(`__title', `<title>__title</title>')dnl
<link>https://FIXME.com/__id.html</link>
<description>',
`<html lang="en">
<head> <meta charset="utf-8"> <title>FIXME</title> <meta name="author" content="FIXME:your_name"> <meta name="viewport" content="width=device-width, initial-scale=1"> <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="FIXME:site_title"> <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet"> <link rel="stylesheet" href="styles/main.css"> <link rel="index" href="/list" /> ifdef(`__timestamp', `ifelse(__id,1,,`<link rel="prev" href="/decr(__id)">')') ifdef(`__timestamp', `ifelse(__id,__latest,,`<link rel="next" href="/incr(__id)">')') </head>
<body>
<header>
  <div>FIXME my site name</div>
  include(`src/partials/nav.html')
</header>
<main>
  ifdef(`__title', `<h1 class="title">__title</h1>')
  ifdef(`__subtitle', `<p>__subtitle</p>')
  ifdef(`__timestamp', `<p>__timestamp</p>')
')
</main>
